<!DOCTYPE html>
<html lang="en">

  <%- include("./include/header") %>

  <body>
    <div class="ui stackable two column vertically divided grid container cards">
      <div class="row">
        <div class="column">
          <div class="card" id="form">
            <h1>Sign up Form</h1>
            <h4 id="message"></h4>
            <form class="ui form">
              <div class="field">
                <label>Email</label>
                <input id="email" type="email" name="email" placeholder="Email">
              </div>
              <div class="field">
                <label>Username</label>
                <input id="username" type="text" name="username" placeholder="Username">
              </div>
              <div class="field">
                <label>Gender</label>
                <div class="ui selection dropdown">
                  <input type="hidden" name="gender" value="Male">
                  <i class="dropdown icon"></i>
                  <div class="default text">Male</div>
                  <div class="menu">
                    <div class="item" data-value="Male">Male</div>
                    <div class="item" data-value="Female">Female</div>
                    <div class="item" data-value="undefined">Not specified</div>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Password</label>
                <input id="password" type="password" name="password" placeholder="Password">
              </div>
              <div class="field">
                <label>Confirm Password</label>
                <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password">
              </div>
              <button class="ui primary button" type="button" id="submitButton">Submit</button>
              <div class="ui error message"></div>
            </form>
            <h3 id="message2"></h3>
          </div>
        </div>
        <div class="column">
          <div class="card" id="users">
            <div class="content">
              <div class="header">USERS:</div>
              <div class="ui accordion" id="userList">
                <% for( let i = 0; i < users.length; i++ ) { %>
                <div class="title">
                  <i class="dropdown icon"></i>
                  <%= users[i].username %>
                </div>
                <div class="content">
                  <pre class="transition hidden">
    {
        "username": "<%= users[i].username %>",
        "email": "<%= users[i].email %>",
        "gender": <%= users[i].gender !== "undefined" ? JSON.stringify(users[i].gender) : users[i].gender %>,
        "id": "<%= users[i].id %>"
    }
                  </pre>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/javascript/index.js"></script>
  </body>

</html>